version: "3.8"

services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    hostname: localhost

    ports:
      - "8000:80"
      - "2222:22"

    environment:
      GITLAB_OMNIBUS_CONFIG: |
        puma['worker_processes'] = 0

    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab